/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
# Base
	- Typography
	- Elements
	- Links
#Header Styling
    - Navbar 
    - Footer
#Main Styling
    - body para and content

--------------------------------------------------------------*/
/* Base */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5;
    text-align: left;
    color: #463E5B;
    background-color: #FFD2A0;
    margin: 0 auto;
}

h2, h3, h4 {
    font-size: 4rem;
    /* margin: 2rem; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
/* Nav bar/hamburg menu styling */
.menu-items {
    z-index: 100;
    display: none;
    background-color: rgba(146, 146, 146, 0.8);
}

.menu-items a {
    display: block;
    color: white;
    font-size: 2rem;
    margin: 3rem;
}

.menu.toggled ul {
    z-index: 100;
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
}

#hamburg-toggle {
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(
      to bottom, 
      #3D0E61, #3D0E61 20%, 
      white 20%, white 40%, 
      #3D0E61 40%, #3D0E61 60%, 
      white 60%, white 80%, 
      #3D0E61 80%, #3D0E61 100%
    );
}

#hamburg-toggle {
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 0;
    padding: 1.5rem;
    width: 7rem;
    height: 7rem;
}

@media (min-width: 60em) {
    #hamburg-toggle {
        display: none;
    }

    /* .menu-items {
        display: inline-flex;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
    } */

    /* .menu-items a {
        padding: 0.2rem 1rem;
        margin: 0;
        text-shadow: 0.1rem 0.2rem 0rem black;
    } */
}

@media (min-width: 60em) {
    .menu-toggle {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #FFD2A0;
    }

    .menu-items{  
        display: flex;
        background-color: transparent;
    }

    .menu-items a {
        padding: 0.2rem 2.5rem;
        margin: 0;
        text-shadow: 0.1rem 0.2rem 0rem black;
    }
}

/* Header Styling */
.page-name {
    display: flex;
    justify-content: center;
    margin-top: 50vh;
    height: 100vh;  
    font-size: 4rem;
    transition: opacity 0.5 ease;
    letter-spacing: 0.5rem;
}

.page-name span {
    display: inline-block;
    text-transform: uppercase;
    animation: page-name 3s infinite;
    animation-delay: var(--title);
}

.page-name.fade-out {
    opacity: 0;
}

/* Keyframes for header styling */
@keyframes page-name {
    0%, 20%, 70%, 120% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
  }

/* Media queries for head */
@media (min-width: 30em) {
    .page-name {
        font-size: 8rem;
    }
}

@media (min-width: 65em) {
    .page-name {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11rem;
        letter-spacing: 2.5rem;
    }
}

/* Main Styling */
.anim-txt-1 {
    border-left: #3D0E61 solid;
    padding-left: 2rem;
    margin-left: 1rem;
    max-width: 30rem;
}

.alt-col-txt {
    animation: alt-col 5s infinite;
    display: inline-flex;
    letter-spacing: -0.5rem;
}

.CSS-1 {
    --color-1: #EFB6C8;
    --color-2: #ff8800;
    --color-3: #A888B5;
}

.CSS-2 {
    --color-1: #A888B5;
    --color-2: #EFB6C8;
    --color-3: #ff8800;
}

.CSS-3 {
    --color-1: #ff8800;
    --color-2: #A888B5;
    --color-3: #EFB6C8;
}

.anim-txt-3 {
    text-align: right;
    border-right: #3D0E61 solid;
    padding-right:  1rem;
    margin-right: 1rem;
    max-width: 30rem;
}
/* Keyframes for main */
@keyframes alt-col {
    0%, 32% {color: var(--color-1)}
    33%, 65% {color: var(--color-2)}
    66%, 99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

/* Media queries for main */
@media (min-width:50em) {
    .anim-txt-1 {
        margin-left:5rem ;
    }

    .anim-txt-3 {
        margin-right:5rem ;
    }
}