/*--- Code walk-through -------------------*/

.transform-box{
    display: inline;
    background-color: blue;
    border-radius: .5rem;
    padding: 1rem 2rem;
    transition: 0s;

}

.transform-box:hover {
    transform: ;
}

@media (min-width: 50em) {

body {
    margin: 0 auto;
    max-width: 31.25rem;
	margin: 0 auto;
}
.transform-box{
    padding: 5rem;
    position: absolute;
    top: 90%;
    right: 20%;
}

}